@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	/* padding: 0 20px; */
	background: url(img/background6.png) repeat;
}

.h1 {
	text-align: center;
	font-weight: black;
}

.navigation {
	font-size: 0.7em;
	line-height: 1.2;
	margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.navigation li:first-child {
	font-size: 1.05em;
}

li {
	margin-bottom: 0.5em;
	padding-left: 5px;
	border: 2px solid; 
	/* border-radius: 10px; */
	border-color: #6495ED;
	border-right: rgba(255, 255, 255, 1);
	border-bottom: rgba(255, 255, 255, 1);
	/* border-right: 2px solid #6495ED; */
	/* border-top: 2px solid #6495ED; */
}

.code-line-number {
	margin: 0;
	padding: 4px;
}

nav h2/*.ToC*/ {
	font-size: 2em;
	/* font-weight:  */
	color: #808080;
}

.no-markers {
	list-style-type:  none;
	padding-left: 0;
}

.no-markers-padding {
	list-style-type: none;
	padding-left: 1.5em;
}

a {
	color: #1E90FF;
}

a:visited, a:focus, a:hover {
	color: #191970
}

.section-main {
	font-size: 1em;
	line-height: 120%;
	/* padding-top: 20px; */
	text-indent:  1.5em;
	width: 75%;
	text-align: justify;
}

p.section-day {
	font-size: 1em;
	/* padding-top: 20px; */
	text-indent:  1.5em;
	text-align: justify;
	line-height: 1.3em;
	width: 75%;
	color: #FFFAFA;
	border: 1px solid #00BFFF;
	background-color: #00BFFF;
	padding: 10px 15px;
	border-radius: 5px;
}

.section-day-without-indent {
	font-size: 1em;
	/* padding-top: 20px; */
	text-align: justify;
	line-height: 1.3em;
	width: 75%;
	color: #FFFAFA;
	border: 1px solid #00BFFF;
	background-color: #00BFFF;
	padding: 10px 15px;
	border-radius: 5px;

	white-space: pre-wrap;
	text-indent: none;
}

.long-text {
	font-size: 1em;
	/* padding-top: 20px; */
	text-indent:  1.5em;
	text-align: justify;
	line-height: 1.3em;
	width: 50%;
	color: #40E0D0;
	padding: 10px 15px;
	border-radius: 5px;
}

.secret {
	color: #D3D3D3;
}

main + footer {
	padding-bottom: 55px;
	font-style: italic;
}

footer > a {
	text-transform: uppercase;
}

/*
"list-markers" не работает как класс
*/

.header-highlighting {
	text-decoration: underline;
}

figcaption {
  padding-top: 0;
  padding-bottom: 8px;
  font-size: 0.9em;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: rgb(202, 224, 248);
}

.img-rows-2 {
	width: 45%;
  padding: 0px 15px;
  display:  inline-block;
 }

 /* .img-style {
	display: block;
	margin-left: auto;
	margin-right: auto;
 } */

 .best-day-13 {
	color: #B1F100;
 }

 .best-day-13:hover {
	color: #91B52D;
 }
 .best-day-13:visited {
	color: #739D00;
 }
 .best-day-13:focus {
	color: #C7F83E;
 }

 .best-day-16 {
	color: #34D800;
 }

 .best-day-16:hover {
	color: #46A229;
 }

 .best-day-16:visited {
	color: #228D00;
 }

 .best-day-16:focus {
	color: #89EC6A;
 }

 .best-day-17 {
	color: #FFF500;
 }

 .best-day-17:hover {
	color: #BFBA30;
 }

 .best-day-17:visited {
	color: #A69F00;
 }

 .best-day-17:focus {
	color: #FFFA73;
 }

 .best-day-18 {
	color: #C10087;
 }

 .best-day-18:hover {
	color: #912470;
 }

 .best-day-18:visited {
	color: #7D0057;
 }

 .best-day-18:focus {
	color: #E065BB;
 }

 .best-day-19 {
	color: #640CAB;
 }

 .best-day-19:hover {
	color: #582781;
 }

 .best-day-19:visited {
	color: #9240D5;
 }

 .best-day-19:focus {
	color: #A468D5;
 }

 .secret {
	color: #B0E0E6;
}
.secret:visited, .secret:focus, .secret:hover {
	color: #B0C4DE;
}


/* не работает селектор по тегу */
#introduction {
	color:#7D0057;
} 
 /* link, visited, focus, hover */


 /* Можно убрать */
 #bg1 {
	background-color: #b0caf6;
 }

 .first-day {
	background-image: url("img/p-bg.jpg");
	background-position: 600px 180px;
 }

 .thirth-day {
	background: url("img/background3.png") 110px 1111px;
 }

 .sprite-1 {
	height: 36px;
	width: 28px;
	background-image: url("img/sprites.jpg");
	/* background-position: 50px 100px; */
 }

 .sprite-2 {
	height: 36px;
	width: 28px;
	background-image: url("img/sprites.jpg");
	background-position: -32px -34px;
 }

 .sprite-3 {
	height: 35px;
	width: 28px;
	background-image: url("img/sprites.jpg");
	background-position: -64px -100px;
 }

 #margin-collapse-1 {
	margin-bottom: 50px;
 }

.border-1 {
	/* border:2px solid #1e90ff; */
}

 #margin-collapse-2 {
	margin-top: 20px;
 }

 .border-2 {
	/* Рамка убирает схлопывание */
	/* border:2px solid #007dff; */
}

.hidden-text-1 {
	position: absolute;
	left: 80px;
	top: 270px;
	color: #9f9f9f;
}

.margin-centring {
	width: 400px;
	margin: 50px auto 0;
}

.hidden-text-2 {
	position: absolute;
	width: 400px;
	left: 270px;
	top: 450px;
	color: #9f9f9f;
}

.box-border-1 {
	width: 1000px;
	background-color: #808080;
}

.box-sizing-text-1 {
	width: 100%;
	padding: 100px;
	/* box-sizing: border-box; */
}

.box-border-2 {
	width: 1000px;
	background-color: #808080;
}

.box-sizing-text-2 {
	margin-top: 50px;
	width: 100%;
	padding: 100px;
	box-sizing: border-box;
}

.explanation {
	color: #9f9f9f;
	width: 550px;
	margin: 0 auto;
}

.lorem-ipsum-png-block {
	display: inline-block;
}

.lorem-ipsum-png {
	width: 300px;
	vertical-align: middle;
}

.table {
	width: 1000px;
	display: table;
	background-color: #d9edf7;
}

.row {
	display: table-row;
	background-color: #f2dede;
	border-color: #b94a48;
}
.cell {
	display: table-cell;
	background-color: #fbeed5;
	border-color: #c09853;
}

.fixed {
	position: fixed;
	top: 5px;
}

.ball {
	width: 25%;
}

.ball-1 {
	position: relative;
	left: 150px;
	z-index: 30;
}

.ball-2 {
	position: relative;
	z-index: 20;
}