@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
	font-family: "Open Sans";
	padding: 0 20px;
}

.h1 {
	text-align: center;
}

.navigation {
	font-size: 12px;
	width: 80%;
}

li {
	margin-bottom: 5px;
	padding-left: 5px;
	border-left: 2px solid #6495ED; 
}

.code-line-number {
	margin: 0;
	padding: 4px;
}

.ToC {
	font-size: 22px;
	color: #808080;
}

.no-markers {
	list-style-type:  none;
	padding-left: 0;
}

.no-markers-padding {
	list-style-type: none;
	padding-left: 1.5em;
}

a {
	color: #1E90FF;
}

a:visited, a:focus, a:hover {
	color: #191970
}

.section-main {
	font-size: 18px;
	padding-top: 20px;
	text-indent:  1.5em;
	text-align: justify;
	width: 75%;
	text-align: justify;
}

.section-day {
	font-size: 18px;
	padding-top: 20px;
	text-indent:  1.5em;
	text-align: justify;
	width: 75%;
	color: #FFFAFA;
	border: 1px solid #00BFFF;
	background-color: #00BFFF;
	padding: 10px 15px;
	border-radius: 5px;
}

.section-day-without-indent {
	font-size: 18px;
	padding-top: 20px;
	text-align: justify;
	width: 75%;
	color: #FFFAFA;
	border: 1px solid #00BFFF;
	background-color: #00BFFF;
	padding: 10px 15px;
	border-radius: 5px;
}

.long-text {
	font-size: 18px;
	padding-top: 20px;
	text-indent:  1.5em;
	text-align: justify;
	width: 50%;
	color: #40E0D0;
	padding: 10px 15px;
	border-radius: 5px;
}

.secret {
	color: #D3D3D3;
}
.footer {
	padding-bottom: 50px;
}

/*
"list-markers" не работает как класс
*/

.header-highlighting {
	text-decoration: underline;
}

figcaption {
  padding-top: 0;
  padding-bottom: 8px;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  background-color: rgb(202, 224, 248);
}

.img-rows-2 {
	width: 45%;
  padding: 0px 15px;
  display:  inline-block;
 }

 /* .img-style {
	display: block;
	margin-left: auto;
	margin-right: auto;
 } */

 .best-day-13 {
	color: #B1F100;
 }

 .best-day-13:hover {
	color: #91B52D;
 }
 .best-day-13:visited {
	color: #739D00;
 }
 .best-day-13:focus {
	color: #C7F83E;
 }

 .best-day-16 {
	color: #34D800;
 }

 .best-day-16:hover {
	color: #46A229;
 }

 .best-day-16:visited {
	color: #228D00;
 }

 .best-day-16:focus {
	color: #89EC6A;
 }

 .best-day-17 {
	color: #FFF500;
 }

 .best-day-17:hover {
	color: #BFBA30;
 }

 .best-day-17:visited {
	color: #A69F00;
 }

 .best-day-17:focus {
	color: #FFFA73;
 }

 .best-day-18 {
	color: #C10087;
 }

 .best-day-18:hover {
	color: #912470;
 }

 .best-day-18:visited {
	color: #7D0057;
 }

 .best-day-18:focus {
	color: #E065BB;
 }

 .best-day-19 {
	color: #640CAB;
 }

 .best-day-19:hover {
	color: #582781;
 }

 .best-day-19:visited {
	color: #9240D5;
 }

 .best-day-19:focus {
	color: #A468D5;
 }

 .secret {
	color: #B0E0E6;
}
.secret:visited, .secret:focus, .secret:hover {
	color: #B0C4DE;
}
 /* link, visited, focus, hover */